$white: #fafafa;
$bg-yellow-10: #17b380;
$shadow: rgba(0, 0, 0, 0.45) 0 5px 20px;

$bg-image-10: radial-gradient(rgba(12, 12, 12, 0.088) 2px, transparent 0);
$bg-image-20: radial-gradient(rgba(255, 255, 255, 0.06) 2px, transparent 0);

$bg-dark-10: #121214;
$bg-dark-20: #17171A;
$bg-dark-30: #202024;

$bg-gray-10: #AFABB6;
$bg-gray-20: #afabb6a6;
$bg-gray-20: #afabb620;