$white: #eaebed;
$bg-yellow-10: #17b380;
$bg-yellow-10: #ffaf2a;
$shadow: rgba(0, 0, 0, 0.40) 0 5px 20px;
$shadow-10: rgba(0, 0, 0, 0.72) 0 5px 20px;
$overlay: rgba(0, 0, 0, 0.7);

$bg-image-10: radial-gradient(rgba(12, 12, 12, 0.16) 2px, transparent 0);
$bg-image-20: radial-gradient(rgba(255, 255, 255, 0.13) 2px, transparent 0);

$bg-dark-10: #1d1d27;
$bg-dark-20: #1B1C1E;
$bg-dark-30: #202024;
$bg-dark-40: #313131;

$bg-gray-10: #AFABB6;
$bg-gray-20: #afabb6a6;
$bg-gray-20: #afabb620;