$white: #eaebed;
$lightGray: #44444462;
$bg-gray-20: #4444442b;
$bg-yellow-10: #ffaf2a;

$shadow: rgba(0, 0, 0, 0.45) 0 5px 20px;
$shadow-20: rgba(0, 0, 0, 0.25) 0 5px 20px;

$bg-image-10: radial-gradient(rgba(12, 12, 12, 0.13) 2px, transparent 0);
$bg-image-20: radial-gradient(rgba(255, 255, 255, 0.11) 2px, transparent 0);

$bg-dark-10: #1d1d27;
$bg-dark-20: #1B1C1E;
$bg-dark-30: #202024;
$bg-dark-40: #313131;

$bg-gray-10: #AFABB6;
$bg-gray-20: #afabb677;
$bg-gray-30: #afabb620;