@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Satoshi", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(12, 12, 12, 0.13) 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -5px -5px;
}
body #code-loader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0.5;
  background-color: #1B1C1E;
  background-image: radial-gradient(rgba(255, 255, 255, 0.11) 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -5px -5px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 6;
  color: #eaebed;
  font-weight: bold;
  font-size: 100px;
}
body #code-loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
  opacity: 0.4;
}
body #code-loader span:nth-child(odd) {
  animation-delay: 0.4s;
  opacity: 1;
}
body #code-loader span:nth-child(even) {
  opacity: 1;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 0;
  width: 100%;
  height: 10vh;
}
header .grpButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  background-color: #1d1d27;
  color: #eaebed;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0 5px 20px;
  width: 8.5rem;
  height: 3.3rem;
}
header .grpButton .toggle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  background-color: transparent;
  color: #eaebed;
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
}
header .grpButton .toggle:hover {
  color: rgba(175, 171, 182, 0.4666666667);
  transition: 0.5s;
}
header .grpButton .openBtn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  background-color: transparent;
  color: #eaebed;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
header .grpButton .openBtn:hover {
  color: rgba(175, 171, 182, 0.4666666667);
  transition: 0.5s;
}

.sidePanel {
  background-color: #202024;
  width: 0;
  height: 300px;
  top: 0;
  right: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0 0 0;
  z-index: 3;
  border-radius: 0 0 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0 5px 20px;
}
.sidePanel .navMenu {
  list-style: none;
}
.sidePanel .navMenu li a {
  padding: 1rem 1rem 1rem 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #eaebed;
  display: block;
}
.sidePanel .navMenu li a i {
  padding: 0 1rem 0 0;
  color: rgba(175, 171, 182, 0.4666666667);
  font-size: 1.7rem;
}
.sidePanel .navMenu li .closedBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.sidePanel .navMenu li .closedBtn i {
  font-size: 2rem;
  color: #eaebed;
}

.sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.1;
}

.darkMode {
  background-color: #1B1C1E;
  background-image: radial-gradient(rgba(255, 255, 255, 0.11) 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -5px -5px;
  transition: 0.5s;
}
.darkMode header .grpButton {
  background-color: #eaebed;
}
.darkMode header .grpButton .toggle {
  color: #1d1d27;
}
.darkMode header .grpButton .toggle:hover {
  color: #AFABB6;
}
.darkMode header .grpButton .openBtn {
  color: #1d1d27;
}
.darkMode header .grpButton .openBtn:hover {
  color: #AFABB6;
}
.darkMode .sidePanel {
  background-color: #202024;
}
.darkMode .sidePanel .navMenu li a {
  color: #eaebed;
}
.darkMode .sidePanel .navMenu li a:hover, .darkMode .sidePanel .navMenu li a:hover i {
  color: #eaebed;
}
.darkMode .sidePanel .navMenu li a i {
  color: rgba(175, 171, 182, 0.4666666667);
}
.darkMode .sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.15;
}
.darkMode .tech__container #myBtn {
  background-color: #202024;
  color: #eaebed;
}
.darkMode .tech__container .tech__header h1 {
  color: #eaebed;
}
.darkMode .tech__container .tech__header p {
  color: #eaebed;
}
.darkMode .tech__container .tech__box .tech__card:nth-child(1),
.darkMode .tech__container .tech__box .tech__card:nth-child(3),
.darkMode .tech__container .tech__box .tech__card:nth-child(5),
.darkMode .tech__container .tech__box .tech__card:nth-child(7),
.darkMode .tech__container .tech__box .tech__card:nth-child(9) {
  background-color: transparent;
}
.darkMode .tech__container .tech__box .tech__card:nth-child(1) .brand,
.darkMode .tech__container .tech__box .tech__card:nth-child(3) .brand,
.darkMode .tech__container .tech__box .tech__card:nth-child(5) .brand,
.darkMode .tech__container .tech__box .tech__card:nth-child(7) .brand,
.darkMode .tech__container .tech__box .tech__card:nth-child(9) .brand {
  color: #ffaf2a;
}
.darkMode .tech__container .tech__box .tech__card:nth-child(1) h1,
.darkMode .tech__container .tech__box .tech__card:nth-child(3) h1,
.darkMode .tech__container .tech__box .tech__card:nth-child(5) h1,
.darkMode .tech__container .tech__box .tech__card:nth-child(7) h1,
.darkMode .tech__container .tech__box .tech__card:nth-child(9) h1 {
  color: #eaebed;
}
.darkMode .tech__container .tech__box .tech__card:nth-child(1) .check,
.darkMode .tech__container .tech__box .tech__card:nth-child(3) .check,
.darkMode .tech__container .tech__box .tech__card:nth-child(5) .check,
.darkMode .tech__container .tech__box .tech__card:nth-child(7) .check,
.darkMode .tech__container .tech__box .tech__card:nth-child(9) .check {
  color: #eaebed;
}
.darkMode .tech__container .tech__box .tech__card:nth-child(2),
.darkMode .tech__container .tech__box .tech__card:nth-child(4),
.darkMode .tech__container .tech__box .tech__card:nth-child(6),
.darkMode .tech__container .tech__box .tech__card:nth-child(8) {
  background-color: #202024;
  border: 0.1rem solid rgba(175, 171, 182, 0.1254901961);
}
.darkMode .tech__container .tech__box .tech__card:nth-child(2) .brand,
.darkMode .tech__container .tech__box .tech__card:nth-child(4) .brand,
.darkMode .tech__container .tech__box .tech__card:nth-child(6) .brand,
.darkMode .tech__container .tech__box .tech__card:nth-child(8) .brand {
  color: #ffaf2a;
}
.darkMode .tech__container .tech__box .tech__card:nth-child(2) h1,
.darkMode .tech__container .tech__box .tech__card:nth-child(4) h1,
.darkMode .tech__container .tech__box .tech__card:nth-child(6) h1,
.darkMode .tech__container .tech__box .tech__card:nth-child(8) h1 {
  color: #eaebed;
}
.darkMode .tech__container .tech__box .tech__card:nth-child(2) .check,
.darkMode .tech__container .tech__box .tech__card:nth-child(4) .check,
.darkMode .tech__container .tech__box .tech__card:nth-child(6) .check,
.darkMode .tech__container .tech__box .tech__card:nth-child(8) .check {
  color: #eaebed;
}
.darkMode .tech__container .reserved {
  color: #eaebed;
}

.tech__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 1;
}
.tech__container #myBtn {
  display: none;
  background-color: #1d1d27;
  color: #eaebed;
  position: fixed;
  height: 3.5rem;
  width: 3.5rem;
  bottom: 2.2rem;
  right: 2rem;
  z-index: 4;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0 5px 20px;
}
.tech__container #myBtn:hover {
  background-color: rgba(175, 171, 182, 0.4666666667);
  color: #1d1d27;
  transition: 0.3s ease-in-out;
}
.tech__container .tech__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  position: absolute;
  top: 5rem;
  text-align: center;
}
.tech__container .tech__header p {
  font-size: 1.5rem;
  color: #1d1d27;
  opacity: 0.6;
}
.tech__container .tech__box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  position: relative;
}
.tech__container .tech__box .tech__card:nth-child(1),
.tech__container .tech__box .tech__card:nth-child(3),
.tech__container .tech__box .tech__card:nth-child(5),
.tech__container .tech__box .tech__card:nth-child(7),
.tech__container .tech__box .tech__card:nth-child(9) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  position: relative;
  background-color: #1d1d27;
  border-radius: 1rem;
  padding: 0 0 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0 5px 20px;
}
.tech__container .tech__box .tech__card:nth-child(1) .brand,
.tech__container .tech__box .tech__card:nth-child(3) .brand,
.tech__container .tech__box .tech__card:nth-child(5) .brand,
.tech__container .tech__box .tech__card:nth-child(7) .brand,
.tech__container .tech__box .tech__card:nth-child(9) .brand {
  font-size: 3.3rem;
  color: #ffaf2a;
}
.tech__container .tech__box .tech__card:nth-child(1) h1,
.tech__container .tech__box .tech__card:nth-child(3) h1,
.tech__container .tech__box .tech__card:nth-child(5) h1,
.tech__container .tech__box .tech__card:nth-child(7) h1,
.tech__container .tech__box .tech__card:nth-child(9) h1 {
  color: #eaebed;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
.tech__container .tech__box .tech__card:nth-child(1) .check,
.tech__container .tech__box .tech__card:nth-child(3) .check,
.tech__container .tech__box .tech__card:nth-child(5) .check,
.tech__container .tech__box .tech__card:nth-child(7) .check,
.tech__container .tech__box .tech__card:nth-child(9) .check {
  position: absolute;
  font-size: 1.4rem;
  color: #eaebed;
  top: 10px;
  right: 10px;
}
.tech__container .tech__box .tech__card:nth-child(2),
.tech__container .tech__box .tech__card:nth-child(4),
.tech__container .tech__box .tech__card:nth-child(6),
.tech__container .tech__box .tech__card:nth-child(8) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  position: relative;
  border: 0.1rem solid rgba(175, 171, 182, 0.4666666667);
  border-radius: 1rem;
  padding: 0 0 2rem 0;
}
.tech__container .tech__box .tech__card:nth-child(2) .brand,
.tech__container .tech__box .tech__card:nth-child(4) .brand,
.tech__container .tech__box .tech__card:nth-child(6) .brand,
.tech__container .tech__box .tech__card:nth-child(8) .brand {
  font-size: 3.3rem;
  color: #ffaf2a;
}
.tech__container .tech__box .tech__card:nth-child(2) h1,
.tech__container .tech__box .tech__card:nth-child(4) h1,
.tech__container .tech__box .tech__card:nth-child(6) h1,
.tech__container .tech__box .tech__card:nth-child(8) h1 {
  color: #1d1d27;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.tech__container .tech__box .tech__card:nth-child(2) .check,
.tech__container .tech__box .tech__card:nth-child(4) .check,
.tech__container .tech__box .tech__card:nth-child(6) .check,
.tech__container .tech__box .tech__card:nth-child(8) .check {
  position: absolute;
  font-size: 1.4rem;
  color: #1d1d27;
  top: 10px;
  right: 10px;
}
.tech__container .tech__box:has(.tech__card:hover) .tech__card:not(:hover) {
  opacity: 0.3;
  transition: all 0.5s ease-in-out;
}
.tech__container .reserved {
  position: absolute;
  font-weight: 600;
  left: auto;
  color: #1d1d27;
  z-index: 1;
}

@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
::-webkit-scrollbar {
  background-color: #eaebed;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #1d1d27;
  width: auto;
  height: auto;
}

@media (min-width: 1300px) {
  .tech__container .tech__header {
    top: 1.5rem;
  }
  .tech__container .tech__header p {
    font-size: 1.5rem;
  }
  .tech__container .tech__box .tech__card:nth-child(1),
  .tech__container .tech__box .tech__card:nth-child(2),
  .tech__container .tech__box .tech__card:nth-child(3),
  .tech__container .tech__box .tech__card:nth-child(4),
  .tech__container .tech__box .tech__card:nth-child(5),
  .tech__container .tech__box .tech__card:nth-child(6),
  .tech__container .tech__box .tech__card:nth-child(7),
  .tech__container .tech__box .tech__card:nth-child(8),
  .tech__container .tech__box .tech__card:nth-child(9) {
    width: 175px;
    height: 175px;
  }
  .tech__container .reserved {
    font-size: 1rem;
    bottom: 2rem;
  }
}
@media (min-width: 1000px) and (max-width: 1299px) {
  .tech__container .tech__header {
    top: 1.5rem;
  }
  .tech__container .tech__header p {
    font-size: 1.3rem;
  }
  .tech__container .tech__box .tech__card:nth-child(1),
  .tech__container .tech__box .tech__card:nth-child(2),
  .tech__container .tech__box .tech__card:nth-child(3),
  .tech__container .tech__box .tech__card:nth-child(4),
  .tech__container .tech__box .tech__card:nth-child(5),
  .tech__container .tech__box .tech__card:nth-child(6),
  .tech__container .tech__box .tech__card:nth-child(7) {
    width: 200px;
    height: 200px;
  }
  .tech__container .reserved {
    font-size: 0.8rem;
    bottom: 1rem;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  .tech__container .tech__header {
    top: 1.5rem;
  }
  .tech__container .tech__header p {
    font-size: 1.2rem;
  }
  .tech__container .tech__box .tech__card:nth-child(1),
  .tech__container .tech__box .tech__card:nth-child(2),
  .tech__container .tech__box .tech__card:nth-child(3),
  .tech__container .tech__box .tech__card:nth-child(4),
  .tech__container .tech__box .tech__card:nth-child(5),
  .tech__container .tech__box .tech__card:nth-child(6),
  .tech__container .tech__box .tech__card:nth-child(7) {
    width: 180px;
    height: 180px;
  }
  .tech__container .reserved {
    font-size: 0.8rem;
    bottom: 1rem;
  }
}
@media (min-width: 430px) and (max-width: 699px) {
  .tech__container {
    height: auto;
    padding: 0 1rem 4rem 1rem;
  }
  .tech__container .tech__header {
    position: initial;
    margin: 2rem 0;
  }
  .tech__container .tech__header p {
    font-size: 1.2rem;
  }
  .tech__container .tech__box .tech__card:nth-child(1),
  .tech__container .tech__box .tech__card:nth-child(2),
  .tech__container .tech__box .tech__card:nth-child(3),
  .tech__container .tech__box .tech__card:nth-child(4),
  .tech__container .tech__box .tech__card:nth-child(5),
  .tech__container .tech__box .tech__card:nth-child(6),
  .tech__container .tech__box .tech__card:nth-child(7) {
    width: 180px;
    height: 180px;
  }
  .tech__container .reserved {
    font-size: 0.8rem;
    bottom: 1rem;
  }
}
@media (max-width: 429px) {
  .tech__container {
    height: auto;
    padding: 0 1rem 6rem 1rem;
  }
  .tech__container .tech__header {
    position: initial;
    margin: 2rem 0;
  }
  .tech__container .tech__header p {
    font-size: 1.2rem;
  }
  .tech__container .tech__box .tech__card:nth-child(1),
  .tech__container .tech__box .tech__card:nth-child(2),
  .tech__container .tech__box .tech__card:nth-child(3),
  .tech__container .tech__box .tech__card:nth-child(4),
  .tech__container .tech__box .tech__card:nth-child(5),
  .tech__container .tech__box .tech__card:nth-child(6),
  .tech__container .tech__box .tech__card:nth-child(7),
  .tech__container .tech__box .tech__card:nth-child(8),
  .tech__container .tech__box .tech__card:nth-child(9) {
    width: 180px;
    height: 180px;
  }
  .tech__container .reserved {
    font-size: 0.8rem;
    bottom: 2rem;
  }
}/*# sourceMappingURL=stile.css.map */