@mixin align ($align, $direction, $justify) {
    display: flex;
    align-items: $align;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin reset () {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}