@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  overflow-x: hidden;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
  animation: fadeInDown;
  animation-duration: 1.5s;
}
#header .navlogo i {
  color: #151116;
  font-size: 2rem;
}
#header .grpButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
#header .grpButton .toggle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  color: #151116;
  font-size: 1.6rem;
  border: 3px solid #151116;
  border-radius: 0.8rem;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
#header .grpButton .toggle:hover {
  background-color: #151116;
  border: none;
  color: #FCF7FF;
  transition: 0.3s;
}
#header .grpButton .openBtn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #151116;
  color: #FCF7FF;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.8rem;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
#header .grpButton .openBtn:hover {
  background-color: #FCF7FF;
  border: 3px solid #151116;
  color: #151116;
  transition: 0.3s;
}

.sidePanel {
  width: 0;
  height: 350px;
  top: 0;
  right: 0;
  position: fixed;
  background-color: #151116;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0 0 0;
  z-index: 2;
}
.sidePanel a {
  padding: 15px 15px 15px 50px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FCF7FF;
  display: block;
  transition: 0.3s;
}
.sidePanel a i {
  padding: 0 1rem 0 0;
  color: #FCF7FF;
}
.sidePanel .closedBtn {
  position: absolute;
  opacity: 1;
  top: 10px;
  right: 25px;
  font: 2rem;
}

.sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.1;
}

.darkMode {
  background-color: #151116;
  transition: 0.5s;
}
.darkMode .navlogo {
  color: #FCF7FF;
}
.darkMode .grpButton .toggle {
  border: 3px solid #d48c80;
  color: #d48c80;
}
.darkMode .grpButton .toggle:hover {
  background-color: #d48c80;
  color: #FCF7FF;
}
.darkMode .grpButton .openBtn {
  background-color: #d48c80;
  color: #FCF7FF;
}
.darkMode .grpButton .openBtn:hover {
  background-color: #FCF7FF;
  border: none;
  color: #151116;
}
.darkMode .sidePanel {
  background-color: #d48c80;
}
.darkMode .sidePanel a {
  color: #151116;
}
.darkMode .sidePanel a:hover {
  color: #FCF7FF;
}
.darkMode .sidePanel a span {
  color: #151116;
}
.darkMode .sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.3;
}
.darkMode .container .item:nth-child(1),
.darkMode .container .item:nth-child(3) {
  background-color: #d48c80;
}
.darkMode .container .item:nth-child(1) span,
.darkMode .container .item:nth-child(3) span {
  color: #FCF7FF;
}
.darkMode .container .item:nth-child(1) h1,
.darkMode .container .item:nth-child(3) h1 {
  color: #151116;
}
.darkMode .container .item:nth-child(1) .link span,
.darkMode .container .item:nth-child(3) .link span {
  color: #0ead69;
}
.darkMode .container .item:nth-child(2),
.darkMode .container .item:nth-child(4) {
  border: 5px solid #d48c80;
}
.darkMode .container .item:nth-child(2) span,
.darkMode .container .item:nth-child(4) span {
  color: #d48c80;
}
.darkMode .container .item:nth-child(2) h1,
.darkMode .container .item:nth-child(4) h1 {
  color: #FCF7FF;
  opacity: 1;
}
.darkMode .container .item:nth-child(2) .link span,
.darkMode .container .item:nth-child(4) .link span {
  color: #0ead69;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 85vh;
  padding: 30px 0;
  text-align: start;
  flex-wrap: wrap;
  z-index: 1;
  gap: 20px;
  position: relative;
}
.container .card:nth-child(1),
.container .card:nth-child(3) {
  border: 5px solid #151116;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1.2rem;
  width: 300px;
  height: 320px;
  animation: fadeInUp;
  animation-duration: 1.5s;
}
.container .card:nth-child(1) .header,
.container .card:nth-child(3) .header {
  position: relative;
  min-height: 140px;
  width: auto;
  margin: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}
.container .card:nth-child(1) .header img,
.container .card:nth-child(3) .header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}
.container .card:nth-child(1) .info,
.container .card:nth-child(3) .info {
  border: none;
  padding: 0 1.5rem 0 1.5rem;
  text-align: center;
}
.container .card:nth-child(1) .info .title,
.container .card:nth-child(3) .info .title {
  color: #151116;
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.6rem;
}
.container .card:nth-child(1) .footer,
.container .card:nth-child(3) .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem;
  border-top: 1px solid #eceff1;
}
.container .card:nth-child(1) .footer .tag,
.container .card:nth-child(3) .footer .tag {
  display: block;
  font-weight: 400;
  font-size: 0.75rem;
  color: #151116;
}
.container .card:nth-child(1) .footer .action,
.container .card:nth-child(3) .footer .action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: #151116;
  color: #FCF7FF;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}
.container .card:nth-child(1) .footer .action:active,
.container .card:nth-child(3) .footer .action:active {
  transform: scale(0.95);
}
.container .card:nth-child(2),
.container .card:nth-child(4) {
  border: 5px solid #d48c80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1.2rem;
  width: 300px;
  height: 320px;
  animation: fadeInDown;
  animation-duration: 1.5s;
}
.container .card:nth-child(2) .header,
.container .card:nth-child(4) .header {
  position: relative;
  min-height: 140px;
  width: auto;
  margin: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}
.container .card:nth-child(2) .header img,
.container .card:nth-child(4) .header img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}
.container .card:nth-child(2) .info,
.container .card:nth-child(4) .info {
  border: none;
  padding: 0 1.5rem 0 1.5rem;
  text-align: center;
}
.container .card:nth-child(2) .info .title,
.container .card:nth-child(4) .info .title {
  color: #d48c80;
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.6rem;
}
.container .card:nth-child(2) .footer,
.container .card:nth-child(4) .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem;
  border-top: 1px solid #eceff1;
}
.container .card:nth-child(2) .footer .tag,
.container .card:nth-child(4) .footer .tag {
  display: block;
  font-weight: 400;
  font-size: 0.75rem;
  color: #d48c80;
}
.container .card:nth-child(2) .footer .action,
.container .card:nth-child(4) .footer .action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: #d48c80;
  color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}
.container .card:nth-child(2) .footer .action:active,
.container .card:nth-child(4) .footer .action:active {
  transform: scale(0.95);
}
.container .reserved {
  position: absolute;
  font-weight: 400;
  bottom: 20px;
  left: 38%;
  font-size: 1rem;
  opacity: 0.6;
  color: #151116;
  animation: fadeInUp;
  animation-duration: 1.5s;
}

@media (max-width: 390px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 0 50px 0;
  }
  .container .card:nth-child(1),
  .container .card:nth-child(3) {
    animation: fadeInLeft;
    animation-duration: 1.5s;
  }
  .container .card:nth-child(2),
  .container .card:nth-child(4) {
    animation: fadeInRight;
    animation-duration: 1.5s;
  }
  .container .reserved {
    bottom: 15px;
    left: 25%;
    font-size: 0.7rem;
    opacity: 0.3;
  }
}/*# sourceMappingURL=stile.css.map */
