@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  overflow-x: hidden;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
  animation: fadeInDown;
  animation-duration: 1.5s;
}
#header .navlogo i {
  color: #151116;
  font-size: 2rem;
}
#header .grpButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
#header .grpButton .toggle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  color: #151116;
  font-size: 1.6rem;
  border: 3px solid #151116;
  border-radius: 0.8rem;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
#header .grpButton .toggle:hover {
  background-color: #151116;
  border: none;
  color: #FCF7FF;
  transition: 0.3s;
}
#header .grpButton .openBtn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #151116;
  color: #FCF7FF;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.8rem;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
#header .grpButton .openBtn:hover {
  background-color: #FCF7FF;
  border: 3px solid #151116;
  color: #151116;
  transition: 0.3s;
}

.sidePanel {
  width: 0;
  height: 350px;
  top: 0;
  right: 0;
  position: fixed;
  background-color: #151116;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0 0 0;
  z-index: 2;
}
.sidePanel a {
  padding: 15px 15px 15px 50px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FCF7FF;
  display: block;
  transition: 0.3s;
}
.sidePanel a i {
  padding: 0 1rem 0 0;
  color: #FCF7FF;
}
.sidePanel .closedBtn {
  position: absolute;
  opacity: 1;
  top: 10px;
  right: 25px;
  font: 2rem;
}

.sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.1;
}

.darkMode {
  background-color: #151116;
  transition: 0.5s;
}
.darkMode #header .navlogo i {
  color: #d48c80;
}
.darkMode #header .grpButton .toggle {
  color: #d48c80;
  border: 3px solid #d48c80;
}
.darkMode #header .grpButton .toggle:hover {
  background-color: #d48c80;
  color: #FCF7FF;
}
.darkMode #header .grpButton .openBtn {
  background-color: #d48c80;
  color: #151116;
}
.darkMode #header .grpButton .openBtn:hover {
  background-color: #FCF7FF;
  border: 3px solid #151116;
}
.darkMode .sidePanel {
  background-color: #d48c80;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
}
.darkMode .sidePanel a {
  color: #151116;
}
.darkMode .sidePanel a:hover {
  color: #FCF7FF;
}
.darkMode .sidePanel a i {
  color: #151116;
}
.darkMode .sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.3;
}
.darkMode .container .card .open-btn {
  background-color: #d48c80;
  color: #FCF7FF;
}
.darkMode .container .card .popup {
  background-color: #d48c80;
  color: #FCF7FF;
}
.darkMode .container .card .popup .close-btn {
  color: #FCF7FF;
  opacity: 1;
}
.darkMode .container .card .popup .content h2 {
  color: #151116;
}
.darkMode .container .card .popup .content p {
  color: #151116;
  opacity: 0.8;
}
.darkMode .container .card .popup .actions a {
  background-color: #FCF7FF;
  color: #151116;
}
.darkMode .container .card .popup .actions a i {
  color: #17b380;
}
.darkMode .container .card .title {
  background-color: #d48c80;
  color: #FCF7FF;
}
.darkMode .container .reserved {
  color: #FCF7FF;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  padding: 30px 0;
  flex-wrap: wrap;
  z-index: 1;
  gap: 1.5rem;
  position: relative;
}
.container .card {
  position: relative;
  width: 320px;
  height: 320px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  border-radius: 1.5rem;
  z-index: 2;
  animation: 2s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
}
.container .card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 1.5rem;
}
.container .card .open-btn {
  position: absolute;
  border: none;
  outline: none;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  background-color: #151116;
  color: #FCF7FF;
  padding: 1rem;
  border-radius: 1rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}
.container .card .popup {
  display: none;
  background-color: #151116;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 320px;
  height: 320px;
  padding: 2rem 2rem 0 2rem;
  border-radius: 1.5rem;
}
.container .card .popup .close-btn {
  position: absolute;
  color: #FCF7FF;
  opacity: 0.7;
  right: 1rem;
  top: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.container .card .popup .content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  margin: 0 0 0.5rem 0;
}
.container .card .popup .content h2 {
  color: #FCF7FF;
  font-size: 1.3rem;
  font-weight: 600;
  width: 90%;
}
.container .card .popup .content p {
  color: #FCF7FF;
  font-weight: 300;
  font-size: 1rem;
  opacity: 0.5;
  text-indent: 0.5rem;
}
.container .card .popup .actions {
  position: absolute;
  bottom: 1.5rem;
  min-width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.container .card .popup .actions a {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FCF7FF;
  color: #151116;
  min-height: 3rem;
  width: 100%;
  padding: 0 1rem 0 1rem;
  border-radius: 0.7rem;
  text-decoration: none;
}
.container .card .popup .actions a i {
  color: #17b380;
  font-size: 1.5rem;
}
.container .card .title {
  background-color: #151116;
  color: #FCF7FF;
  position: absolute;
  letter-spacing: 0.1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  height: 4.2rem;
  width: 90%;
  padding: 1.2rem 0 0 0;
  text-align: center;
  border-radius: 0.5rem 0.5rem 1rem 1rem;
  font-size: 1.5rem;
}
.container .reserved {
  position: absolute;
  font-weight: 400;
  bottom: 20px;
  left: auto;
  font-size: 1rem;
  color: #151116;
  animation: fadeInUp;
  animation-duration: 1.5s;
}

@media (max-width: 390px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 0 5rem 0;
  }
}/*# sourceMappingURL=stile.css.map */