@import 'varibles',
        'funtion';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    overflow-x: hidden;
}

#header {
    @include align (center, row, space-around);
    width: 100%;
    height: 15vh;

    animation: fadeInDown;
    animation-duration: 1.5s;

    .navlogo {
        color: $brown;
    }

    .grpButton {
        @include align (center, row, center);
        gap: 1rem;

        .toggle {
            background-color: transparent;
            color: $brown;
            font-size: 2rem;
            border: 3px solid $brown;
            border-radius: .8rem;
            height: 55px;
            width: 55px;
            cursor: pointer;

            &:hover {
                background-color: $brown;
                border: none;
                color: $white;
                transition: .3s;
            }
        }

        .openBtn {
            background-color: $brown;
            color: $white;
            font-size: 2rem;
            border: none;
            border-radius: .8rem;
            height: 55px;
            width: 55px;
            cursor: pointer;

            &:hover {
                background-color: $white;
                border: 3px solid $brown;
                color: $brown;
                transition: .3s;
            }
        }
    }
}


.sidePanel {
    width: 0;
    height: 350px;
    top: 0;
    right: 0;
    position: fixed;
    background-color: $brown;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 0 0 0;
    z-index: 2;

    a {
        padding: 15px 15px 15px 50px;
        text-decoration: none;
        font-size: 1.5rem;
        color: $white;
        display: block;
        transition: 0.3s;

        span {
            padding: 0 40px 0 0;
            color: $white;
            opacity: 0.2;
        }
    }

    .closedBtn {
        position: absolute;
        opacity: 1;
        top: 10px;
        right: 25px;
        font: 2rem;
    }
}

.sidePanel:has(.item:hover) .item:not(:hover) {
    opacity: 0.1;
} 

.darkMode {
    background-color: $brown;
    transition: 0.5s;

    .navlogo {
        color: $white;
    }

    .grpButton {

        .toggle {
            border: 3px solid $beige;
            color: $beige;

            &:hover {
                background-color: $beige;
                color: $white;
            }
        }

        .openBtn {
            background-color: $beige;
            color: $white;

            &:hover {
                background-color: $white;
                border: none;
                color: $brown;
            }
        }

    }

    .sidePanel {
        background-color: $beige;

        a {
            color: $brown;

            &:hover {
                color: $white;
            }

            span {
                color: $brown;
            }
        }
    }

    .sidePanel:has(.item:hover) .item:not(:hover) {
        opacity: 0.3;
    }

    .container {

        .item:nth-child(1),
        .item:nth-child(3) {
            background-color: $beige;

            span {
                color: $white;
            }

            h1 {
                color: $brown;
            }

            .link span {
                color: $lightGreen;
            }
        }

        .item:nth-child(2),
        .item:nth-child(4) {
            border: 5px solid $beige;

            span {
                color: $beige;
            }

            h1 {
                color: $white;
                opacity: 1;
            }

            .link span {
                color: $lightGreen;
            }
        }
    }
}

.container {
    @include align (center, row, center);
    width: 100%;
    height: 85vh;
    padding: 30px 0;
    text-align: start;
    flex-wrap: wrap;
    z-index: 1;
    gap: 20px;
    position: relative;

    .card:nth-child(1),
    .card:nth-child(3) {
        border: 5px solid $brown;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 1.2rem;
        width: 300px;
        height: 320px;

        animation: fadeInUp;
        animation-duration: 1.5s;

        .header {
            position: relative;
            min-height: 140px;
            width: auto;
            margin: 1rem;
            border-radius: 0.75rem;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .2);

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.75rem;
            }
        }

        .info {
            border: none;
            padding: 0 1.5rem 0 1.5rem;
            text-align: center;

            .title {
                color: $brown;
                letter-spacing: 0;
                line-height: 1.375;
                font-weight: 600;
                font-size: 1.6rem;
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 0.75rem;
            border-top: 1px solid $lightWhite;

            .tag {
                display: block;
                font-weight: 400;
                font-size: .75rem;
                color: $brown;
            }

            .action {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.3rem;
                background-color: $brown;
                color: $white;
                cursor: pointer;
                user-select: none;
                border: none;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
                font-size: .75rem;
                padding: 0.75rem 1.5rem;
                border-radius: 0.5rem;

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .card:nth-child(2),
    .card:nth-child(4) {
        border: 5px solid $beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 1.2rem;
        width: 300px;
        height: 320px;

        animation: fadeInDown;
        animation-duration: 1.5s;

        .header {
            position: relative;
            min-height: 140px;
            width: auto;
            margin: 1rem;
            border-radius: 0.75rem;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .2);

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                border-radius: 0.75rem;
            }
        }

        .info {
            border: none;
            padding: 0 1.5rem 0 1.5rem;
            text-align: center;

            .title {
                color: $beige;
                letter-spacing: 0;
                line-height: 1.375;
                font-weight: 600;
                font-size: 1.6rem;
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 0.75rem;
            border-top: 1px solid $lightWhite;

            .tag {
                display: block;
                font-weight: 400;
                font-size: .75rem;
                color: $beige;
            }

            .action {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.3rem;
                background-color: $beige;
                color: rgb(255 255 255);
                cursor: pointer;
                user-select: none;
                border: none;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
                font-size: .75rem;
                padding: 0.75rem 1.5rem;
                border-radius: 0.5rem;

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .reserved {
        position: absolute;
        font-weight: 400;
        bottom: 20px;
        left: 38%;
        font-size: 1rem;
        opacity: 0.6;
        color: $brown;

        animation: fadeInUp;
        animation-duration: 1.5s;
    }
}

// responsive

@media (max-width: 390px) {
    .container {
        @include align (center, column, center);
        height: auto;
        padding: 0 0 50px 0;

        .card:nth-child(1),
        .card:nth-child(3) {
            animation: fadeInLeft;
            animation-duration: 1.5s;
        }

        .card:nth-child(2),
        .card:nth-child(4) {
            animation: fadeInRight;
            animation-duration: 1.5s;
        }

        .reserved {
            bottom: 15px;
            left: 25%;
            font-size: 0.7rem;
            opacity: 0.3;
        }
    }
}