@import 'varibles',
        'funtion';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    user-select: none;
}

body {
    overflow-x: hidden;
}

#header {
    @include align (center, row, space-around);
    width: 100%;
    height: 15vh;

    animation: fadeInDown;
    animation-duration: 1.5s;

    .navlogo i {
        color: $brown;
        font-size: 2rem;
    }

    .grpButton {
        @include align (center, row, center);
        gap: 1rem;

        .toggle {
            @include align (center, row, center);
            background-color: transparent;
            color: $brown;
            font-size: 1.6rem;
            border: 3px solid $brown;
            border-radius: .8rem;
            height: 55px;
            width: 55px;
            cursor: pointer;

            &:hover {
                background-color: $brown;
                border: none;
                color: $white;
                transition: .3s;
            }
        }

        .openBtn {
            @include align (center, row, center);
            background-color: $brown;
            color: $white;
            font-size: 1.6rem;
            border: none;
            border-radius: .8rem;
            height: 55px;
            width: 55px;
            cursor: pointer;

            &:hover {
                background-color: $white;
                border: 3px solid $brown;
                color: $brown;
                transition: .3s;
            }
        }
    }
}


.sidePanel {
    width: 0;
    height: 350px;
    top: 0;
    right: 0;
    position: fixed;
    background-color: $brown;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 0 0 0;
    z-index: 2;

    a {
        padding: 15px 15px 15px 50px;
        text-decoration: none;
        font-size: 1.5rem;
        color: $white;
        display: block;
        transition: 0.3s;

        i {
            padding: 0 1rem 0 0;
            color: $white;
        }
    }

    .closedBtn {
        position: absolute;
        opacity: 1;
        top: 10px;
        right: 25px;
        font: 2rem;
    }
}

.sidePanel:has(.item:hover) .item:not(:hover) {
    opacity: 0.1;
}

.darkMode {
    background-color: $brown;
    transition: 0.5s;

    #header {
        .navlogo i {
            color: $white;
        }

        .grpButton {
            .toggle {
                color: $white;
                border: 3px solid $white;

                &:hover {
                    background-color: $beige;
                    border: none;
                    color: $white;
                }
            }

            .openBtn {
                background-color: $white;
                color: $brown;

                &:hover {
                    background-color: $beige;
                    color: $white;
                    border: none;
                }
            }

        }
    }

    .sidePanel {
        background-color: $beige;

        a {
            color: $brown;

            &:hover ,
            &:hover i {
                color: $white;
            }

            i {
                color: $brown;
            }
        }
    }

    .sidePanel:has(.item:hover) .item:not(:hover) {
        opacity: 0.3;
    }

    .container {

        #title {
            color: $white;
        }

        .card {
            .open-btn {
                background-color: $beige;
                color: $white;
            }

            .popup {
                background-color: $beige;
                color: $white;

                .close-btn {
                    color: $white;
                    opacity: 1;
                }

                .content {
                    h2 {
                        color: $brown;
                    }

                    p {
                        color: $brown;
                        opacity: .8;
                    }
                }

                .actions {
                    a {
                        background-color: $white;
                        color: $brown;

                        i {
                            color: $link;
                        }
                    }
                }
            }

            .title {
                background-color: $beige;
                color: $white;
            }
        }

        .more {
            background-color: transparent;
            border: 3px solid $white;
            color: $white;
    
            i {
                background-color: $white;
                color: $brown;
            }
    
            &:hover {
                i {
                    background-color: $beige;
                    color: $white;
                }
            }
        }

        .reserved {
            color: $white;
        }
    }
}

.container {
    @include align (center, row, center);
    width: 100%;
    min-height: 85vh;
    padding: 30px 0;
    flex-wrap: wrap;
    z-index: 1;
    gap: 1.5rem;
    position: relative;

    #title {
        color: $brown;

        animation: fadeInDown;
        animation-duration: 1.8s;
    }

    .card {
        position: relative;
        width: 320px;
        height: 320px;
        border-radius: 1.5rem;
        border: 1px solid $opcity;
        z-index: 2;

        animation: 2s cubic-bezier(.25, 1, .30, 1) square-in-center both;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
            border-radius: 1.5rem;
        }

        .open-btn {
            position: absolute;
            border: none;
            outline: none;
            top: 1rem;
            left: 1rem;
            font-size: 1.5rem;
            background-color: $brown;
            color: $white;
            padding: 1rem;
            border-radius: 1rem .5rem .5rem .5rem;
            cursor: pointer;
            box-shadow: $shadow;
        }

        .popup {
            display: none;
            background-color: $brown;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            width: 320px;
            height: 320px;
            padding: 2rem 2rem 0 2rem;
            border-radius: 1.5rem;

            .close-btn {
                position: absolute;
                color: $white;
                opacity: .7;
                right: 1rem;
                top: 1rem;
                font-size: 2.5rem;
                cursor: pointer;
            }

            .content {
                @include align (flex-start, column, center);
                gap: .7rem;
                margin: 0 0 .5rem 0;

                h2 {
                    color: $white;
                    font-size: 1.3rem;
                    font-weight: 600;
                    width: 90%;
                }

                p {
                    color: $white;
                    font-weight: 300;
                    font-size: 1rem;
                    opacity: .5;
                    text-indent: .5rem;
                }
            }

            .actions {
                position: absolute;
                bottom: 1.5rem;
                min-width: 80%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;

                a {
                    @include align (center, row, space-between);
                    background-color: $white;
                    color: $brown;
                    min-height: 3rem;
                    width: 100%;
                    padding: 0 1rem 0 1rem;
                    border-radius: .7rem;
                    text-decoration: none;

                    i {
                        color: $link;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .title {
            background-color: $brown;
            color: $white;
            box-shadow: $shadow;
            position: absolute;
            letter-spacing: .1rem;
            bottom: 1rem;
            left: 1rem;
            right: 1rem;
            height: 4.2rem;
            width: 90%;
            padding: 1.2rem 0 0 0;
            text-align: center;
            border-radius: .5rem .5rem 1rem 1rem;
            font-size: 1.5rem;
        }
    }

    .more {
        @include align (center, row, flex-start);
        background-color: $brown;
        text-decoration: none;
        color: $white;
        width: 11.9rem;
        height: 3rem;
        gap: .5rem;
        cursor: pointer;
        position: relative;
        padding: 0 0 0 1rem;
        border-radius: .5rem;


        animation: 2s cubic-bezier(.25, 1, .30, 1) square-in-center both;
        
        i {
            @include align (center, row, center);
            background-color: $white;
            border: 3px solid $brown;
            color: $brown;
            font-size: 1.2rem;
            height: 100%;
            width: 3rem;
            position: absolute;
            right: 0;
            border-radius: .5rem;
        }

        &:hover {
            i {
                transition: .4s ease-in-out;
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }

    .reserved {
        position: absolute;
        font-weight: 400;
        bottom: 20px;
        left: auto;
        font-size: 1rem;
        color: $brown;

        animation: fadeInUp;
        animation-duration: 1.5s;
    }
}

// responsive

@media (min-width: 1000px) and (max-width: 1999px) {
    .container {
        @include align (center, row, center);

        #title {
            position: absolute;
            top: -2rem;
            font-size: 2rem;
        }
    }
}

@media (min-width: 770px) and (max-width: 999px) {
    .container {
        @include align (center, column, center);
        height: auto;
        padding: 0 0 5rem 0;

        #title {
            font-size: 2.3rem;
        }
    }
}

@media (min-width: 399px) and (max-width: 769px) {
    .container {
        @include align (center, column, center);
        height: auto;
        padding: 0 0 5rem 0;

        #title {
            font-size: 2.3rem;
        }

        .card {
            width: 300px;
            height: 300px;

            .popup {
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media (max-width: 399px) {
    .container {
        @include align (center, column, center);
        height: auto;
        padding: 0 0 5rem 0;

        #title {
            font-size: 2.1rem;
        }

        .card {
            width: 300px;
            height: 300px;

            .popup {
                width: 300px;
                height: 300px;
            }
        }
    }
}