@import 'varibles',
'funtion';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    @include reset();
    font-family: "Manrope", sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: $bg-image-10;
    background-size: 40px 40px;
    background-position: -5px -5px;
    overflow: hidden;

    #code-loader {
        @include align (center, row, center);
        gap: .5rem;
        background-color: $bg-dark-20;
        background-image: $bg-image-20;
        background-size: 40px 40px;
        background-position: -5px -5px;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 6;
        color: $white;
        font-weight: bold;
        font-size: 100px;

        span {
            display: inline-block;
            animation: pulse_414 0.4s alternate infinite ease-in-out;
            opacity: 0.4;

            &:nth-child(odd) {
                animation-delay: 0.4s;
                opacity: 1;
            }

            &:nth-child(even) {
                opacity: 1;

            }
        }
    }
}

header {
    @include align (center, row, space-evenly);
    width: 100%;
    height: 10vh;
    position: relative;

    .navlogo i {
        color: $bg-dark-10;
        font-size: 2rem;
        opacity: .5;
    }

    .grpButton {
        @include align (center, row, center);
        gap: 2rem;
        background-color: $bg-dark-10;
        color: $white;
        border-radius: .7rem;
        box-shadow: $shadow;
        width: 8.5rem;
        height: 3.3rem;

        .toggle {
            @include align (center, row, center);
            background-color: transparent;
            color: $white;
            border: none;
            outline: none;
            font-size: 1.6rem;
            cursor: pointer;
            border-radius: .7rem;

            &:hover {
                color: $bg-gray-20;
                transition: .5s;
            }
        }

        .openBtn {
            @include align (center, row, center);
            background-color: transparent;
            color: $white;
            font-size: 1.6rem;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 10px;


            &:hover {
                color: $bg-gray-20;
                transition: .5s;
            }
        }
    }
}

.sidePanel {
    background-color: $bg-dark-30;
    width: 0;
    height: 300px;
    top: 0;
    right: 0;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 0 0 0;
    z-index: 3;
    border-radius: 0 0 0 1rem;
    box-shadow: $shadow;

    a {
        padding: 1rem 1rem 1rem 4rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: $white;
        display: block;

        i {
            padding: 0 1rem 0 0;
            color: $bg-gray-20;
            font-size: 1.7rem;
        }
    }

    .closedBtn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        i {
            font-size: 2rem;
            color: $white;
        }
    }
}

.sidePanel:has(.item:hover) .item:not(:hover) {
    opacity: .1;
}

.darkMode {
    background-color: $bg-dark-20;
    background-image: $bg-image-20;
    background-size: 40px 40px;
    background-position: -5px -5px;
    transition: 0.5s;

    .navlogo i {
        color: $white;
    }

    .grpButton {
        background-color: $white;

        .toggle {
            color: $bg-dark-10;

            &:hover {
                color: $bg-gray-10;
            }
        }

        .openBtn {
            color: $bg-dark-10;

            &:hover {
                color: $bg-gray-10;
            }
        }

    }

    .sidePanel {
        background-color: $bg-dark-30;

        a {
            color: $white;

            &:hover,
            &:hover i {
                color: $white;
            }

            i {
                color: $bg-gray-20;
            }
        }
    }

    .sidePanel:has(.item:hover) .item:not(:hover) {
        opacity: .15;
    }


    .serContainer {

        .serContent {

            .serCard:nth-child(1) {
                background-color: $bg-dark-30;
                border: none;

                i {
                    color: $bg-lightgreen-10;
                }

                h2 {
                    color: $white;
                    opacity: 1;
                }

                .link i {
                    color: $white;
                }

                &:hover {
                    border: .1rem solid $bg-lightgreen-10;
                    transition: all 1s ease-in-out;
                }
            }

            .serCard:nth-child(2) {
                background-color: transparent;
                border: none;
                padding: 30px 20px 20px 20px;

                i {
                    color: $bg-lightgreen-10;
                }

                h2 {
                    color: $white;
                    opacity: 1;
                }

                .link i {
                    color: $white;
                }

                &:hover {
                    border: .1rem solid $bg-lightgreen-10;
                    transition: all .7s linear;
                }
            }

            .serCard:nth-child(3) {
                background-color: $bg-dark-30;
                border: none;

                i {
                    color: $bg-lightgreen-10;
                }

                h2 {
                    color: $white;
                    opacity: 1;
                }

                .link i {
                    color: $white;
                }

                &:hover {
                    border: .1rem solid $bg-lightgreen-10;
                    transition: all 1s ease-in-out;
                }
            }
        }

        .reserved {
            color: $white;
        }
    }


}

.serContainer {
    @include align (center, column, center);
    height: 90vh;
    width: 100%;
    z-index: 1;
    position: relative;

    .serContent {
        @include align (center, row, center);
        height: 100%;
        width: 100%;
        gap: 20px;
        z-index: 2;

        .serCard:nth-child(1) {
            @include align (start, column, flex-end);
            position: relative;
            width: $width;
            height: $height;
            box-shadow: $shadow;
            border-radius: 20px;
            padding: 30px 20px;
            gap: 10px;

            .icon {
                color: $bg-lightgreen-10;
            }

            h2 {
                color: $bg-dark-10;
                font-weight: 700;
            }

            .link {
                position: absolute;
                top: 1rem;
                right: 1rem;

                i {
                    color: $bg-dark-10;
                    font-size: 2rem;
                }
            }
        }

        .serCard:nth-child(2) {
            @include align (start, column, flex-end);
            position: relative;
            gap: 10px;
            width: $width;
            height: $height;
            background: $bg-dark-10;
            box-shadow: $shadow;
            border-radius: 20px;
            padding: 30px 20px 40px 20px;

            .icon {
                color: $bg-lightgreen-10;
            }

            h2 {
                color: $white;
                font-weight: 700;
            }

            .link {
                position: absolute;
                top: 1rem;
                right: 1rem;


                i {
                    color: $white;
                    font-size: 2rem;
                }
            }
        }

        .serCard:nth-child(3) {
            @include align (start, column, flex-end);
            position: relative;
            width: $width;
            height: $height;
            box-shadow: $shadow;
            border-radius: 20px;
            padding: 30px 20px 65px 20px;
            gap: 10px;

            .icon {
                color: $bg-lightgreen-10;
            }

            h2 {
                color: $bg-dark-10;
                font-weight: 700;
            }

            .link {
                position: absolute;
                top: 1rem;
                right: 1rem;

                i {
                    color: $bg-dark-10;
                    font-size: 2rem;
                }
            }
        }
    }

    .reserved {
        position: absolute;
        font-weight: 500;
        bottom: 2rem;
        left: auto;
        font-size: 1rem;
        opacity: 1;
        color: $bg-dark-10;
    }
}

.serContainer:has(.serCard:hover) .serCard:not(:hover) {
    opacity: .5;
}

::selection {
    background-color: $bg-lightgreen-10;
    color: $white;
}

// animation

@keyframes pulse_414 {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}


// responsive

@media (min-width: 1200px) {
    .serContainer {
        height: 90vh;
        padding: 0;

        h1 {
            font-size: 2.7rem;
            margin: 0;
        }

        .serContent {
            @include align (center, row, center);

            .serCard:nth-child(1) {
                padding: 30px 20px 50px 20px;

                .icon {
                    font-size: 4.5rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(2) {
                padding: 30px 20px;

                .icon {
                    font-size: 4.5rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(3) {
                padding: 30px 20px 50px 20px;

                .icon {
                    font-size: 4.5rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

        }
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .serContainer {
        height: 90vh;
        padding: 0;

        h1 {
            font-size: 3rem;
            margin: 0 0 20px 0;
        }

        .serContent {
            @include align (center, row, center);

            .serCard:nth-child(1) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px 50px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(2) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(3) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px 50px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

        }

        .reserved {
            bottom: 10px;
            font-size: 0.7rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .serContainer {
        height: auto;
        padding: 0 0 40px 0;

        h1 {
            font-size: 2rem;
            margin: 0 0 20px 0;
        }

        .serContent {
            @include align (center, column, center);

            .serCard:nth-child(1) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(2) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(3) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

        }

        .reserved {
            bottom: 10px;
            font-size: 0.7rem;
        }
    }
}

@media (min-width: 430px) and (max-width: 767px) {

    .serContainer {
        height: auto;
        padding: 0 0 40px 0;

        h1 {
            font-size: 2rem;
            margin: 0 0 20px 0;
        }

        .serContent {
            @include align (center, column, center);

            .serCard:nth-child(1) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(2) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(3) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

        }

        .reserved {
            bottom: 10px;
            font-size: 0.7rem;
        }
    }
}

@media (max-width: 429px) {

    body {
        overflow: visible;
    }

    .serContainer {
        height: auto;
        padding: 5% 0 15% 0;

        h1 {
            font-size: 2rem;
            margin: 0 0 20px 0;
        }

        .serContent {
            @include align (center, column, center);

            .serCard:nth-child(1) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(2) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

            .serCard:nth-child(3) {
                width: $width;
                height: calc(300px - 100px);
                padding: 30px 20px;

                .icon {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }

        }

        .reserved {
            bottom: 5px;
            font-size: 0.7rem;
        }
    }
}