@mixin align ($align, $direction, $justify) {
    display: flex;
    align-items: $align;
    flex-direction: $direction;
    justify-content: $justify;
}

//size

$width: 100%;
$height: 90vh;