@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  animation: fadeInDown;
  animation-duration: 1.5s;
}
header .navlogo {
  color: #1f1920;
}
header .grpButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
header .grpButton .toggle {
  background-color: transparent;
  color: #1f1920;
  font-size: 2rem;
  border: 3px solid #1f1920;
  border-radius: 0.8rem;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
header .grpButton .toggle:hover {
  background-color: #1f1920;
  border: none;
  color: #FCF7FF;
  transition: 0.3s;
}
header .grpButton .openBtn {
  background-color: #1f1920;
  color: #FCF7FF;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  border-radius: 0.8rem;
  height: 55px;
  width: 55px;
}
header .grpButton .openBtn:hover {
  background-color: #FCF7FF;
  border: 3px solid #1f1920;
  color: #1f1920;
  transition: 0.3s;
}

.sidePanel {
  width: 0;
  height: 350px;
  top: 0;
  right: 0;
  position: fixed;
  background-color: #1f1920;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0 0 0;
  z-index: 3;
}
.sidePanel a {
  padding: 15px 15px 15px 50px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FCF7FF;
  display: block;
  transition: 0.3s;
}
.sidePanel a span {
  padding: 0 40px 0 0;
  color: #FCF7FF;
}
.sidePanel .closedBtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font: 2rem;
}

.sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.1;
}

.darkMode {
  background-color: #1f1920;
  transition: 0.5s;
}
.darkMode .navlogo {
  color: #FCF7FF;
}
.darkMode .grpButton .toggle:hover {
  border: 2px solid #FCF7FF;
  color: #FCF7FF;
}
.darkMode .grpButton .openBtn {
  background-color: #d48c80;
  color: #FCF7FF;
}
.darkMode .grpButton .openBtn:hover {
  background-color: #d48c80;
}
.darkMode .sidePanel {
  background-color: #d48c80;
}
.darkMode .sidePanel a {
  color: #1f1920;
}
.darkMode .sidePanel a:hover {
  color: #FCF7FF;
}
.darkMode .sidePanel a span {
  color: #1f1920;
}
.darkMode .sidePanel:has(.item:hover) .item:not(:hover) {
  opacity: 0.3;
}
.darkMode .secContainer .secContent h1 {
  color: #FCF7FF;
}
.darkMode .secContainer .secContent p {
  color: #d48c80;
}
.darkMode .secContainer .secContent p span {
  color: #d48c80;
}

.tech__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 1;
}
.tech__container .tech__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 130px;
  text-align: center;
  animation: fadeInDown;
  animation-duration: 1.8s;
}
.tech__container .tech__header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f1920;
}
.tech__container .tech__header p {
  font-size: 1.5rem;
  color: #1f1920;
}
.tech__container .tech__box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 2rem;
}
.tech__container .tech__box .tech__card:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: #1f1920;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  border: 3px solid #1f1920;
  padding: 0 0 2rem 0;
  gap: 1rem;
}
.tech__container .tech__box .tech__card:nth-child(1) .fa-html5 {
  font-size: 3rem;
  color: #FCF7FF;
}
.tech__container .tech__box .tech__card:nth-child(1) h1 {
  color: #FCF7FF;
}
.tech__container .tech__box .tech__card:nth-child(1) .check {
  position: absolute;
  font-size: 1.2rem;
  color: #33ee9e;
  top: 10px;
  right: 10px;
}
.tech__container .tech__box .tech__card:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 200px;
  height: 200px;
  border: 3px solid #1f1920;
  border-radius: 1rem;
  padding: 0 0 2rem 0;
  gap: 1rem;
}
.tech__container .tech__box .tech__card:nth-child(2) .fa-css3-alt {
  font-size: 3rem;
  color: #1f1920;
}
.tech__container .tech__box .tech__card:nth-child(2) h1 {
  color: #1f1920;
}
.tech__container .tech__box .tech__card:nth-child(2) .check {
  position: absolute;
  font-size: 1.2rem;
  color: #33ee9e;
  top: 10px;
  right: 10px;
}
.tech__container .tech__box .tech__card:nth-child(3) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: #1f1920;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  border: 3px solid #1f1920;
  padding: 0 0 2rem 0;
  gap: 1rem;
}
.tech__container .tech__box .tech__card:nth-child(3) .fa-js {
  font-size: 3rem;
  color: #FCF7FF;
}
.tech__container .tech__box .tech__card:nth-child(3) h1 {
  color: #FCF7FF;
}
.tech__container .tech__box .tech__card:nth-child(3) .check {
  position: absolute;
  font-size: 1.2rem;
  color: #33ee9e;
  top: 10px;
  right: 10px;
}
.tech__container .tech__box .tech__card:nth-child(4) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 200px;
  height: 200px;
  border: 3px solid #1f1920;
  border-radius: 1rem;
  padding: 0 0 2rem 0;
  gap: 1rem;
}
.tech__container .tech__box .tech__card:nth-child(4) .fa-sass {
  font-size: 3rem;
  color: #1f1920;
}
.tech__container .tech__box .tech__card:nth-child(4) .check {
  position: absolute;
  font-size: 1.2rem;
  color: #33ee9e;
  top: 10px;
  right: 10px;
}
.tech__container .reserved {
  position: absolute;
  font-weight: 400;
  bottom: 20px;
  left: auto;
  font-size: 1rem;
  opacity: 1;
  color: #1f1920;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: fadeInUp;
  animation-duration: 2s;
}
.tech__container .circle__background {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}/*# sourceMappingURL=stile.css.map */